<template>
  <div>
    <h1>Login</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
              <form @submit.prevent="login">
                <div class="row mb-3">
                  <label for="email" class="col-md-4 col-form-label text-md-end">Email</label>
                  <div class="col-md-6">
                    <input v-model="email" id="email" type="email" class="form-control" name="email" required
                      autocomplete="email" autofocus />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="password" class="col-md-4 col-form-label text-md-end">Password</label>
                  <div class="col-md-6">
                    <input v-model="password" id="password" type="password" class="form-control" name="password"
                      required autocomplete="current-password" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6 offset-md-4">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" v-model="remember" id="remember" />
                      <label class="form-check-label" for="remember">
                        Remember Me
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row mb-0">
                  <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">
                      Login
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Login',

  data() {
    return {
      email: '',
      password: '',
      remember: false,
    };
  },

  methods: {
    async login() {
      try {
        // Ensure CSRF cookie is set
        await axios.get('/sanctum/csrf-cookie');

        // Attempt login
        const response = await axios.post(
          '/api/login',
          {
            email: this.email,
            password: this.password,
            remember: this.remember,
          },
          {
            headers: {
              Accept: 'application/json',
              'Content-Type': 'application/json',
            },
            withCredentials: true,
          }
        );

        // Save access token to localStorage
        localStorage.setItem('access_token', response.data.access_token);

        // Redirect to home or desired route after successful login
        this.$router.push({ name: 'home' });
      } catch (error) {
        // Display an error message to the user
        console.error('Login failed:', error.response?.data || error.message);
        alert(error.response?.data?.message || 'Login failed');
      }
    },
  },
};
</script>
