<template>
    <div>
        <div class="container mt-5">
            <h1>Register</h1>
            <form @submit.prevent="register">
                <!-- No need for @csrf here -->
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input v-model="name" type="text" name="name" id="name" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="age" class="form-label">Age:</label>
                    <input v-model="age" type="number" name="age" id="age" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input v-model="email" type="email" name="email" id="email" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input v-model="password" type="password" name="password" id="password" class="form-control"
                        required>
                </div>

                <div class="mb-3">
                    <label for="password_confirmation" class="form-label">Confirm Password:</label>
                    <input v-model="password_confirmation" type="password" name="password_confirmation"
                        id="password_confirmation" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p v-if="registrationSuccess" class="text-success mt-3">Registration successful!</p>
            <p v-if="registrationError" class="text-danger mt-3">Registration failed. Please try again.</p>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Register',

    data() {
        return {
            name: '',
            age: '',
            email: '',
            password: '',
            password_confirmation: '',
            registrationSuccess: false,
            registrationError: false
        }
    },

    methods: {
        register() {
            axios.get('/sanctum/csrf-cookie')
                .then(response => {
                    // Now send the POST request after CSRF cookie is obtained
                    return axios.post('/api/register', {
                        name: this.name,
                        age: this.age,
                        email: this.email,
                        password: this.password,
                        password_confirmation: this.password_confirmation
                    });
                })
                .then(response => {
                    console.log(response.data);
                    this.registrationSuccess = true;
                    this.registrationError = false;
                    this.clearForm();
                })
                .catch(error => {
                    console.error('Registration failed:', error);
                    this.registrationSuccess = false;
                    this.registrationError = true;
                });
        },

        clearForm() {
            this.name = '';
            this.age = '';
            this.email = '';
            this.password = '';
            this.password_confirmation = '';
        }
    }
};
</script>
<style scoped>
h1 {
    color: red;
}
</style>