<template>
    <header>
        <div class="links">
            <router-link :to="{ name: 'home' }">Home page</router-link>
            <router-link :to="{ name: 'get.index' }">Get</router-link>
            <router-link v-if="!isLoggedIn" :to="{ name: 'user.login' }">Login</router-link>
            <router-link v-if="!isLoggedIn" :to="{ name: 'user.register' }">Registration</router-link>
            <a v-if="isLoggedIn" @click.prevent="logout" href="#">Logout</a>
        </div>
    </header>
</template>



<script>
import axios from 'axios';

export default {
    data() {
        return {
            isLoggedIn: false,
        };
    },
    methods: {
        async checkAuthentication() {
            try {
                const token = localStorage.getItem('access_token');
                if (!token) {
                    this.isLoggedIn = false;
                    return;
                }

                const response = await axios.get('/api/user', {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    },
                    withCredentials: true
                });

                if (response.status === 200) {
                    this.isLoggedIn = true;
                } else {
                    this.isLoggedIn = false;
                }
            } catch (error) {
                console.error('User not authenticated:', error);
                this.isLoggedIn = false;
            }
        }
    },
    mounted() {
        this.checkAuthentication();
    }
};
</script>

<style>
/* ваш стиль */
</style>

<style scoped>
header {
    background-color: #f8f9fa;
    padding: 1rem;
}

.links {
    display: flex;
    justify-content: space-around;
}
</style>
