<template>
    <div>
        <h1>Home</h1>
        <div class="list">
            <router-link :to="{ name: 'products.index' }" class="btn">List of Products</router-link>
            <router-link :to="{ name: 'categories.index' }" class="btn">List of Categories</router-link>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: 'Home',
};
</script>

<style scoped>
.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Расстояние между кнопками */
    margin-top: 1rem;
    /* Отступ сверху для разделения с заголовком */
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #004080;
}
</style>
