<template>
    <div class="container mt-5">
        <h1>List of Products</h1>
        <div v-if="products.length" class="list-group">
            <router-link v-for="product in products" :key="product.id"
                :to="{ name: 'product.detail', params: { id: product.id } }"
                class="list-group-item list-group-item-action">
                {{ product.name }}
            </router-link>
        </div>
        <div v-else>
            <p>No products found.</p>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'ListProducts',

    data() {
        return {
            products: []
        };
    },

    mounted() {
        this.fetchProducts();
    },

    methods: {
        fetchProducts() {
            axios.get('/api/products', {
                headers: {
                    Authorization: `Bearer ${localStorage.getItem('access_token')}`
                }
            })
                .then(response => {
                    this.products = response.data;
                    console.log(this.products);
                })
                .catch(error => {
                    console.error('Error fetching products:', error);
                });
        }
    }
};
</script>

<style scoped>
/* Add scoped styles if necessary */
</style>
