<template>
    <div class="container mt-5">
        <h1>Product Details</h1>
        <div v-if="isLoading" class="text-center mt-4">
            Loading...
        </div>
        <div v-else-if="product" class="card">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: ${{ product.price }}</p>
                <p class="card-text">Description: {{ product.description }}</p>
                <router-link :to="{ name: 'products.index' }" class="btn btn-primary">Back to Products</router-link>
            </div>
        </div>
        <div v-else class="text-center mt-4">
            Product not found or unauthorized access.
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'ProductDetail',
    data() {
        return {
            product: null,
            isLoading: false,
            error: null,
        };
    },
    created() {
        this.fetchProduct();
    },
    methods: {
        async fetchProduct() {
            this.isLoading = true;
            try {
                const response = await axios.get(`/api/products/${this.$route.params.id}`, {
                    headers: {
                        Authorization: `Bearer ${localStorage.getItem('access_token')}`,
                    },
                });
                this.product = response.data;
            } catch (error) {
                console.error('Error fetching product:', error);
                if (error.response && error.response.status === 403) {
                    this.error = 'Access denied. You do not have permission to view this product.';
                } else {
                    this.error = 'An error occurred while fetching product data.';
                }
            } finally {
                this.isLoading = false;
            }
        },
    },
};
</script>

<style scoped>
/* Add scoped styles if necessary */
</style>
