<template>
    <div>
        <h2>Products</h2>
        <div v-if="products.length" class="list-group">
            <div v-for="product in products" :key="product.id" class="list-group-item">
                {{ product.name }} - ${{ product.price }}
            </div>
        </div>
        <div v-else>
            <p>No products found.</p>
        </div>
    </div>
</template>

<script>
export default {
    name: 'CategoryProducts',

    props: {
        products: Array
    }
};
</script>
