<template>
    <div class="container mt-5">
        <h1>List of Categories</h1>
        <div v-if="categories.length" class="list-group">
            <router-link v-for="category in categories" :key="category.id"
                :to="{ name: 'category.products', params: { id: category.id } }"
                class="list-group-item list-group-item-action">
                {{ category.name }}
            </router-link>
        </div>
        <div v-else>
            <p>No categories found.</p>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'ListCategories',

    data() {
        return {
            categories: []
        };
    },

    mounted() {
        this.fetchCategories();
    },

    methods: {
        fetchCategories() {
            axios.get('/api/categories', {
                headers: {
                    Authorization: `Bearer ${localStorage.getItem('access_token')}`
                }
            })
                .then(response => {
                    this.categories = response.data;
                    console.log(this.categories);
                })
                .catch(error => {
                    console.error('Error fetching categories:', error);
                });
        }
    }
};
</script>

<style scoped>
/* Add scoped styles if necessary */
</style>
